@model List<ApplicationCore.Models.MovieCardResponseModel>


<h2> Top @Model.Count Budget Movies</h2>

<p>Hello from our View Template!</p>


@foreach (var movie in Model)
{
    movie.Budget /= 1000000;

    <div>
        <p>@movie.Id: <b>@movie.Title</b>, $@movie.Budget Millions</p>
    </div>
}

