<p>movie-details works!</p>

<div class="container-fluid" >
    
    <div class="row mb-5 d-flex justify-content-center"  style="
    background: linear-gradient(135deg, hsl(225 100% 7% / 0.96), hsl(0 77% 5% / 0.66)), url({{movie.backdropUrl}}) no-repeat top;
    background-size: cover; 
">
        <div class="col-4 d-flex justify-content-center">
            <img src="{{movie.posterUrl}}" alt="{{movie.title}}" class="img-fluid"/>
        </div>
        <div class="col-5">
            <h1 class="text-white">{{movie.title}}</h1>
            <div class="row">
                <div class="col text-white">
                    <p>{{movie.tagline}}</p>
                    <p>{{movie.runTime}} m | {{movie.releaseDate | date:'yyyy' }}</p>
                </div>
                <div class="col" >
                    <ng-container *ngFor="let genre of movie.genres">
                        <a href="#"
                           *ngIf="genre"
                           [routerLink]="['/movies/genres/', genre.id ]"
                           class="badge badge-pill badge-dark ml-1"> {{genre.name}}</a>
                      </ng-container>
                    
                </div>
            </div>
            <div class="mb-2">
                
                <span class="badge text-dark" [ngClass]="{
                    'badge-warning ' : movie.rating > 8,
                    'badge-danger ' : movie.rating < 6,
                    'badge-primary ' : movie.rating >= 6 && movie.rating <= 8
                }">{{movie.rating}}</span>
            </div>
            <div>
                <p class="text-white">{{movie.overview}}</p>
            </div>
        </div>
        <div class="col-3 justify-content-center pt-md-5" >
            <div class="mx-auto mb-3">
                <button type="button" class="btn btn-outline-secondary btn-block text-white"><i class="far fa-edit mr-1"></i>REVIEW</button>

            </div>
            <div class="mx-auto mb-3">
                <button type="button" class="btn btn-outline-secondary btn-block text-white"><i class="fas fa-play mr-1"></i>TRAILER</button>

            </div>
            <div class="mx-auto mb-2">
                
                <a class="btn btn-light btn-block" >BUY for ${{movie.price}}</a>
            </div>
            <div class="mx-auto">
                
                <button type="button" class="btn btn-light btn-block">WATCH MOVIE</button>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-5 pr-5">
            <h3>MOVIE FACTS</h3>
            <ul class="list-group">
                <li class="list-group-item border-left-0 border-right-0 rounded-0 border-bottom-dark">
                    <i class="far fa-calendar-alt mr-2"></i>Release Date 
                    <span class="badge badge-secondary">{{movie.releaseDate | date }}</span>
                </li>
                <li class="list-group-item border-left-0 border-right-0 rounded-0 border-dark">
                    <i class="fas fa-hourglass-half mr-2"></i>Run Time <span class="badge badge-secondary">{{movie.runTime}} m</span>
                </li>
                <li class="list-group-item border-left-0 border-right-0 rounded-0 border-dark">
                    <i class="far fa-money-bill-alt mr-2"></i>Box Office <span class="badge badge-secondary">{{movie.revenue | currency }}</span>
                </li>
                <li class="list-group-item border-left-0 border-right-0 rounded-0 border-dark">
                    <i class="fas fa-dollar-sign mr-2"></i>Budget <span class="badge badge-secondary">{{movie.budget | currency}}  </span>
                </li>

            </ul>
            <div class="mt-2">
                <i class="fab fa-imdb pl-2"></i>
                <i class="fas fa-sign-out-alt pl-2"></i>
            </div>
        </div>
        <div class="col pl-5">
            <h3>CAST</h3>
            <div *ngFor="let cast of movie.casts">
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-row border-left-0 border-right-0 rounded-0" >
                        <div class="row w-100 " >
                            <div class="col">
                                <a >
                                    <img src="{{ cast.profilePath }}" alt="{{ cast.name }}" class="img-fluid rounded-circle" style="width: 100px" />
                                </a>
                                
                            </div>
                            <div class="col text-center align-self-center">
                                <span>{{cast.name}}</span>
                            </div>
                            <div class="col text-center align-self-center">
                                <span >{{cast.character}}</span>
                            </div>
                        </div>
                        
                        
                        
                    </li>
                    
                </ul>
            </div>
           
        </div>
    </div>
</div>
