@{
    ViewData["Title"] = "Movie Page";
}

@model List<ApplicationCore.Models.MovieCardResponseModel>


@foreach (var movie in Model)
{
    <div>
        <p>@movie.Id, <b>@movie.Title</b>, @movie.Budget</p>
    </div>
}